$bg-white: #ffffff;
$bg-primary: #F6F8FA;
$button-primary: #DCE3ED;
$bg-border: #c4c4c4;


/*Text color*/
$primary-text-color: #16243D;
$secondary-text-color: #3D4DA1;
$Highlight-color: #EB5C52;
$button-text-color: #315087;

/*widht and hight*/
$height100: 100%;
$width100: 100%;

/*font weight*/
$font-weight: (
    "light-weight": 200,
    "light": 300,
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "extra-bold": 800
);




